.nav {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: darkblue;
  align-items: center;
  list-style: none;
}
.nav a{
  color: aqua;
  text-decoration: none;
  margin: 0 20px;

}
.nav a:hover{
  color: red;
 

}